/*  */

.container {
    max-width: 1170px;
    width: 90%;
    height: 500px;
    background-color: lightblue;
    margin: 0 auto;
}
.wraper {
    display: flex;
    column-gap: 50px;
    row-gap: 50px;
}

.box1 {
    width: 150px;
    height: 150px;
    background-color: yellow;
}
.box2 {
    width: 150px;
    height: 150px;
    background-color: blue;
}
.box3 {
    width: 150px;
    height: 150px;
    background-color: green;
}
.box4 {
    width: 150px;
    height: 150px;
    background-color: pink;
}


/* responsive */
@media (max-width: 768px) {
    .wraper {
        flex-wrap: wrap;
    }
    .box1,
    .box2,
    .box3,
    .box4 {
        width: 45%;
        background-color: red;
    }
}

@media (max-width: 530px) {
    .wraper {
        justify-content: center;
    }
    .box1,
    .box2,
    .box3,
    .box4 {
        width: 90%;
        background-color: yellow;
    }
}
.image {
    width: 600px;
    height: 700px;
    object-fit: cover;
}
.bg-image {
    background-image: url('../image/Landscape-Color.jpg');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


/* pseudo elements */
.descr::before {
    content: 'Hello World';
    color: red;
    font-size: 30px;
}
/* .descr::after {
    content: '\00a9';
} */
 .descr::after {
    content: '';
    width: 2px;
    height: 30px;
    background-color: blue;
    margin-left: 30px;
    display: inline-block;
 }

